@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Rubik+Mono+One);
@import url(https://fonts.googleapis.com/css?family=Space+Mono);

body {
  background-color: #373737;
  background-image: url('stars.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Montserrat
}

.sharebutton {
  display: inline-block;
  padding-right: 10px;
  padding-top: 4px;
}

.amcharts-map-image-label tspan {
  font-family: Montserrat;
  font-weight: 900;
}

.chips {
  padding-top: 14px;
  padding-bottom: 2px;
}

/* marquee */
.marquee {
    width: "100%";
    margin: -15;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;  /* show the marquee just outside the paragraph */
    animation: marquee 275s linear infinite;
    white-space:pre;
}

.marquee a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 12
}

.marquee span:hover {
  animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
/*end of marquee*/



/* START OF ALL OF THE ABOUT PAGE STYLES */
#intro {
  width: 100%;
  padding: 15% 0;
  text-align: center;
  background:  url('nasa-full.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#intro .brand-heading{
  font-size: 12vmin;
  color: white;
  font-family: 'Vollkorn', serif;
  text-shadow: 2px 2px #000000;
  filter: brightness(100%);
}

.title {
  color: #ffffff;
  font-size: 72;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  font-family: Rubik Mono One;
  font-weight: 200;
  /*background-image: url('nasa-full.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;*/
  height: 100;
  padding-top: 25;
  margin-left: -8px;
  margin-right: -5px;
  margin-top: -8px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
  font-size: 5.5vmin;
}

.container .row {
  display: flex;
}

#description {
  background: #eee center fixed;
  padding: 80px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#description h1 {
  text-align: center;
  font-size: 6vmin;
  margin-left: 50;
}

#description h3 {
  text-align: center;
  margin-left: 50;
}

.profpic {
  display: inline-block;
  margin: 25;
  max-width: 200px;
  max-height: 200px;
}

#julie {
  background: #ffffff center fixed;
  padding: 80px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#julie h1 {
  text-align: center;
  font-size: 6vmin;
  margin-left: 50;
}

#julie h3 {
  text-align: left;
  margin-left: 50;
  margin-right: 50
}

#jonathan {
  background: #eee;
  padding: 80px 0;
  display: flex;
  justify-content: flex-end;
}

#jonathan h1 {
  text-align: center;
  font-size: 6vmin;
  margin-right: 50;
}
#jonathan h3 {
  text-align: left;
  margin-left: 50;
}

#kenny {
  background: #ffffff;
  padding: 80px 0;
}

#kenny h1 {
  text-align: center;
  font-size: 6vmin;
  margin-left: 50;
}

#kenny h3 {
  text-align: left;
  margin-left: 50;
  margin-right: 50
}

#peter {
  background: #eee;
  padding: 80px 0;
  display: flex;
  justify-content: flex-end;
}

#peter h1 {
  text-align: center;
  font-size: 6vmin;
  margin-right: 50;
}

#peter h3 {
  text-align: left;
  margin-left: 50;
}

.aboutpage {
  width: 100%;
  height: 100%;
}

.about {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 80;
}

.aboutus {
  color: #ffffff;
  font-size: 12;
  display: flex;
  justify-content: flex-end;
}

.container span {
  display: flex;
  justify-content: center;
  height: 50
}
.container a {
  text-decoration: none;
  color: black;
}

/* END OF ABOUT PAGE STYLES */
