
# Compiled Dirs (http://nodejs.org/api/addons.html)



# Dependency Directories
# Deployed apps should consider commenting these lines out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules/

# Environment Directories
config/

package-lock.json
watson/caotest.js
